<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://milwaukeerecord.com/wp-content/uploads/2022/10/niccage1.jpg)">
  <h1><%= @list.name %></h1>
</div>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="cards">
        <div class="">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
            <%= movie.title %>
          </div>
          <button class="btn btn-warning text-decoration-none text-white"><%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
        </div>
      </div>

  <% end %>
<button class="btn btn-success text-decoration-none text-white"><%= link_to "+ Movie to list", new_list_bookmark_path(@list) %></button>
<button class="btn btn-success text-decoration-none text-white"><%= link_to "Back to lists", lists_path(@list) %></button>
